tr.dropped {
  position: relative;
}

tr.dropped > td.participant {
  text-decoration: line-through;
}

.cup-signup {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.signup-controls-signup-adder {
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.cup-preview {
  display: grid;
  grid-template: "t" "i";
  grid-template-rows: 1fr max-content;
  > .cup-title {
    grid-area: t;
  }
  > .cup-info {
    grid-area: i;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.match-id {
  color: $code;
}
