@import "./variables.scss";
@import "./ionicons/ionicons.scss";
@import "bulma/bulma.sass";

$kuachicups-orange: #ff9409;

$footer-height: 84px;
$footer-margin: 24px;
$header-height: 84px;

body.has-navbar-fixed-top {
  padding-top: $header-height;
}

#breadcrumbs {
  margin-top: -1rem;
}

.navbar.is-transparent {
  background: transparent;
}

.navbar-item {
  > .icon {
    margin-right: 0.25em !important;
  }
}

#nav {
  height: $header-height;
  padding: 1rem 2rem;

  .navbar-start > .navbar-item {
    position: relative;

    &::before {
      bottom: 0.42em;
      right: 50%;
      width: 0.25em;
      height: 0.25em;
      content: "";
      position: absolute;
      border-radius: 1em;
      transition: height 0.2s ease-out, width 0.2s ease-out,
        background 0.2s ease-out, opacity 0.05s ease-out;
      opacity: 0;
      transform: translate(50%, 50%);
      transform-origin: center;
      background: $kuachicups-orange;
    }

    &:hover::before {
      opacity: 1;
      width: 0.25em;
    }

    &.is-active::before {
      opacity: 1;
      width: calc(100% - 1em);
    }
  }

  @include touch {
    .navbar-item {
      display: flex;
      flex-direction: row;
      background: transparent;
      color: inherit;
      &.is-active {
        background: black;
      }
      &.has-dropdown {
        background: rgba(255, 255, 255, 0.05);
      }
    }

    .navbar-item.has-dropdown {
      flex-direction: column;
    }

    .navbar-menu {
      background: $black;
      color: $white;
      border: 1px white;
      border-radius: 6px;
      border-top: none;
    }
  }
}

#navbar-logo {
  background: transparent;
  :active {
    background: transparent;
  }
  :hover {
    background: transparent;
  }
}

#nav-discord {
  img {
    max-height: 1.25em;
  }
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 100vw;
}

#content {
  padding-top: 1rem;
  flex-grow: 1;
  display: block;
  @include touch {
    padding: 1.5rem;
  }
  > .tabs:first-child {
    margin-top: -1rem;
  }
  > .columns:only-child {
    min-height: 100%;
  }
}

#measure-root {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include tablet {
    padding: 0 1.5rem;
  }
  @include mobile {
    padding: 0 0.75rem;
  }
}

#measure {
  padding: 0;
  margin: 0;
}

.layout-panel-content.is-closed {
  display: none;
}

.layout-panel {
  @include mobile {
    transition: box-shadow 0.1s, padding 0.05s;
  }
  &:empty {
    display: none;
  }
  > .menu:empty {
    display: none;
  }
}

#main {
  position: relative;
  min-height: calc(100vh - #{$header-height});
  padding-bottom: $footer-height + $footer-margin;
  margin-bottom: -($footer-height + $footer-margin);
  display: flex;
  flex-direction: column;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $footer-height;
  margin-top: $footer-margin;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-breadcrumbs {
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
  @include desktop {
    display: none;
  }
}

.navbar-item.has-dropdown > a.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card.is-small {
  max-width: 200px;
}

.is-w240 {
  max-width: 240px;
}

.is-w100 {
  width: 100%;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.25em;
}

.is-z10 {
  z-index: 10;
}

.is-z11 {
  z-index: 11;
}

.is-bottom {
  z-index: 0;
}

.mobile-no-pad {
  @include mobile {
    padding: 0;
  }
}

.tablet-no-pad {
  @include tablet {
    padding: 0;
  }
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

@include tablet {
  .image.is-full {
    width: 100%;
  }
}

.blurb {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}

.is-full-width {
  width: 100%;
}

.is-full-height {
  height: 100%;
}

.is-f0 {
  flex: 0;
}

button.reset {
  // https://gist.github.com/CunningFatalist/c66ea44da401f24fcf83c18327ef0957
  // Opinionated cursor style
  cursor: pointer;
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  box-shadow: none;
  // Inherit font & color from ancestor
  color: inherit;
  font: inherit;
  // Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
  line-height: normal;
  // Corrects font smoothing for webkit
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  // Corrects inability to style clickable `input` types in iOS
  -webkit-appearance: none;
  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button.burger {
  padding: 1em 1.5em;
}

.dropdown-heading {
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb;
}

.dropdown-menu {
  z-index: 40;
}

.dropdown-content {
  > hr {
    margin: 0.5rem 0;
  }
  > .buttons {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

.columns.is-fullwidth,
.level.is-fullwidth {
  width: 100%;
}

.is-fullheight {
  height: 100%;
}

.field-label.is-vcentered {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar.standalone {
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  z-index: 29;
}

.textarea-sizer {
  height: inherit;
  display: block;
  position: relative;
  padding: 0;
  &::after,
  & > textarea {
    padding-bottom: $control-padding-vertical;
    padding-left: $control-padding-horizontal;
    padding-right: $control-padding-horizontal;
    padding-top: $control-padding-vertical;
    font-size: 1rem;
    outline: 0;
    border: 1px solid transparent;
  }
  > textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    resize: none;
  }
}

.textarea-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
  top: 0;
  left: 0;
  display: block;
}

button.hover-hide {
  > span.icon:first-child:not(:last-child) {
    margin-right: 0;
  }

  > span:not(.icon) {
    max-width: 0;
    margin-right: -0.75em;
    transition: max-width 0.2s;
    overflow: hidden;
  }

  &:hover > span:not(.icon) {
    max-width: 100px;
  }
}

.md-field {
  margin-bottom: 0.75rem;
}

.md-field-content {
  border: 1px solid $border;
  border-radius: $input-radius;
  textarea.input {
    border-radius: $input-radius $input-radius 0 0;
  }
}

.md-editarea {
  display: flex;
  flex-direction: column;
  @include tablet {
    border-right: 1px solid $border;
  }
  @include mobile {
    border-bottom: 1px solid $border;
  }
}

.md-controls {
  border-top: 1px solid $border;
}

.md-preview {
  padding: 0.5em 0.75em;
}

.columns {
  > .of-1 {
    width: 100%;
  }
  > .of-2 {
    width: 50%;
  }
  > .of-3 {
    width: 33.33%;
  }
  > .of-4 {
    width: 25%;
  }
  > .of-5 {
    width: 20%;
  }
  > .of-6 {
    width: 16.66%;
  }
}

.md {
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
  h2 {
    font-size: 1.15em;
  }
  h1 {
    font-size: 1.25em;
  }
}

.is-nowrap {
  white-space: nowrap;
}

.is-of-vis {
  overflow: visible;
}

.columns.mobile-reverse {
  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}

.content {
  @include mobile {
    max-width: calc(100vw - 3rem);
  }
}

.big-icon {
  width: 100%;
  height: 100%;
}

.poetic {
  max-width: 480px;
  text-align: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
  @include mobile {
    display: none;
  }
}

.vis-mobile {
  display: none;
  @include mobile {
    display: inherit;
  }
}

.column.is-left-panel {
  @include tablet {
    flex: none;
    width: 124px;
    @include desktop {
      width: 196px;
    }
    @include fullhd {
      width: 228px;
    }
  }
}

.table {
  background: transparent;
}

// why aren't these imported in the respective files? so that the bulma
// variables are available from within these stylesheets. otherwise it would
// have to re-import bulma which would be quite bad
@import "./components/Posts/Ann/theme.scss";
@import "./components/Posts/Media/theme.scss";
@import "./components/App/Breadcrumbs/theme.scss";
@import "./components/Toast/theme.scss";
@import "./components/Player/Link/theme.scss";
@import "./components/Cups/theme.scss";
@import "./components/Cups/Cup/Stage/theme.scss";
@import "./components/discord/theme.scss";
@import "./components/Loading/theme.scss";
@import "./components/Paginate/theme.scss";
@import "./components/Teams/theme.scss";
@import "./components/ui/icon.scss";
