$family-sans-serif: "Catamaran";
$family-monospace: "Ubuntu Mono";
/*
$input-disabled-border-color: hsl(0, 0%, 86%);
$grey: #3f3954;
$grey-dark: lighten($grey, 12);
$grey-darker: lighten($grey, 15);
$black-ter: lighten($grey, 30);
$black-bis: lighten($grey, 35);
$black: lighten($grey, 60);
$grey-light: darken($grey, 10);
$grey-lighter: darken($grey, 18);
$grey-lightest: darken($grey, 23);
$white-ter: darken($grey, 14);
$white-bis: darken($grey, 18);
$white: darken($grey, 23);
$border: $grey;
$orange: #e67e22;
$yellow: #f1b70e;
$green: #2ecc71;
$turquoise: #1cbf9c;
$blue: #45a9ec;
$purple: #8e44ad;
$red: #e74c3c;
$primary: #646aaf !default;
*/
