.team-avatars {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  figure {
    @include mobile {
      margin-right: 0.5em;
    }
    @include tablet {
      margin-bottom: 0.5em;
    }
  }
}

.team-player-list {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 0.5em 0.5em;
  align-content: start;
  > .player-link {
    overflow: hidden;
  }
}

.team-preview {
  display: grid;
  grid-template-rows: 1fr;

  grid-template-columns: 3fr minmax(auto, 200px);
  grid-template-areas: "b m";

  &[data-has-avatar] {
    grid-template-columns: 128px 3fr minmax(auto, 200px);
    grid-template-areas: "a b m";
  }

  grid-gap: $box-padding;

  @include mobile {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "b" "m";
    &[data-has-avatar] {
      grid-template-rows: 1fr min-content;
      grid-template-columns: 128px 1fr;
      grid-template-areas: "a b" "a m";
    }
  }

  > .team-avatar {
    grid-area: a;
  }

  > .team-blurb {
    grid-area: b;
  }

  > .team-player-grid {
    grid-area: m;
  }
}
