.discord-avatar-username-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  line-height: 1em;
  > .discord-avatar {
    margin-right: 0.3em;
    flex-shrink: 0;
  }
}

.discord-no-avatar {
  background: black;
}

.discord-avatar {
  border-radius: 50%;
  overflow: hidden;

  > .icon {
    width: 100%;
    height: 100%;
  }
}

.discord-avatar.is-64x64 {
  width: 64px;
  height: 64px;
}
