#app-breadcrumbs {
  height: inherit;
  min-height: inherit;
  line-height: 3rem;
  z-index: 0;
  background: none;
}

#app-breadcrumbs > .container {
  height: inherit;
  min-height: inherit;
}

#app-breadcrumbs .breadcrumb {
  width: 100%;
}
