.ann-title h1 {
  font-weight: bold !important;
}

.ann-subtitle {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include mobile {
    align-items: flex-start;
    flex-direction: column;
  }
}

.hero {
  position: relative;
  overflow: hidden;
}

.box > .hero:first-child {
  margin-top: -$box-padding;
  margin-left: -$box-padding;
  margin-right: -$box-padding;
  border-radius: $box-radius $box-radius 0 0;
}

.box > .hero:only-child {
  margin: -$box-padding;
  border-radius: $box-radius;
  padding: $box-padding;
}

// TODO move the css around, it's a mess where the styles are for everything
// TODO use css modules?
.hero-bg {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: grayscale(25%) brightness(40%) blur(64px);
  transition: 1s filter ease;
  .hero:hover > & {
    filter: grayscale(0%) brightness(40%) blur(0);
  }
}

.hero-bg + .hero-body {
  z-index: 1;
}

.ann-wrapper > .lazy-margin {
  background: transparent;
}

.ann-wrapper > .lazy-loader + .lazy-margin {
  height: 400px;
  background: $white-ter;
}

.ann-wrapper > .loading + .lazy-margin {
  height: 400px;
}
