.player-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  > .discord-avatar {
    margin-right: 0.3em;
    flex-shrink: 0;
  }

  &.player-link-right {
    display: inline-flex;
    flex-direction: row-reverse;
    > .discord-avatar {
      flex-shrink: 0;
      margin-right: 0;
      margin-left: 0.3em;
    }
  }
}
