.media > .lazy-margin {
  background: $white-ter;
}

.media > .lazy-loader + .lazy-margin {
  height: 90px;
}

.media > .loading + .lazy-margin {
  height: 90px;
}

.media-avatar-area {
  @include mobile {
    width: 24px;
    margin-right: 6px;
    > .discord-avatar {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.medias {
  margin-bottom: 1rem;
  overflow-x: hidden;
}

.media-content-content {
  @include mobile {
    a {
      word-break: break-all;
    }
  }
}

$media-thumbnail-width: 400px;
$media-thumbnail-height: 225px;

.media-object {
  @include desktop {
    width: 640px;
    height: 360px;
  }
}

.media-thumbnail {
  max-width: $media-thumbnail-width;
  max-height: $media-thumbnail-height;
  @include mobile {
    max-width: $media-thumbnail-width / 2.5;
    max-height: $media-thumbnail-height / 2.5;
  }

  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;

  transition: width 0.2s, height 0.2s;

  > img {
    z-index: -1;
    filter: brightness(50%) saturate(50%);
    transition: filter 0.4s, border-radius 0.1s, transform 0.4s;
  }

  &:hover > img {
    border-radius: 0;
    filter: brightness(60%) saturate(60%);
  }
}

$playicon-size: 5rem;
.media-thumbnail-playicon {
  position: absolute;
  width: $playicon-size;
  height: $playicon-size;
  left: calc(50% - #{$playicon-size / 2});
  top: calc(50% - #{$playicon-size / 2});
  z-index: 1;
  > .icon {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.65);
    > .icon-i {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
