@import "normalize.css";

html {
  background: black;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#root {
  background: url("./background_big.jpg");
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 54px #00000066;
  height: 100%;
  color: white;
  text-shadow: 0 1px 0px black;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  #root {
    width: 100%;
    max-height: 100%;
    min-height: 0;
  }

  #logo_wrapper {
    height: 20%;
  }
}

@media only screen and (min-width: 900px) {
  body {
    justify-items: left;
  }

  #bg {
    position: absolute;
    width: 240vw;
    height: 240vh;
    background: url("./background_square.jpg");
    background-size: 60vw;
    background-position: center center;
    transform: rotate(45deg);
    z-index: -1;
  }

  #root {
    position: absolute;
    left: 80px;
  }

  #content {
    width: 470px;
    height: 600px;
  }

  #logo_wrapper {
    height: 20%;
  }
}

#blurb {
  width: 100%;
  height: 80%;
  text-align: justify;
  font-family: "Catamaran", "Roboto", sans-serif;
  font-size: 14pt;
  padding: 0 36px;
  box-sizing: border-box;
}

#logo {
  width: 320px;
}

b,
strong {
  font-weight: 700 !important;
}

a {
  color: lightpink;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 45pt;
}

/* 58.927 */
