$win-border: green;
$win-bg: white;
$loss-bg: #8e5c66;

.pending-match-area > h2.heading:only-child {
  display: none;
}

.match-icon-loss,
.match-icon-win {
  display: inline-block;
  min-width: 1.25rem;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-family: $family-monospace;
  text-align: center;
  font-size: 1em;
}

.match-control-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-content: center;
  grid-gap: 1em;
}

.cup-groups {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(1fr);
  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
  @include widescreen {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cup-group {
  margin: 0 !important;
}

.cup-groups-table {
  width: 100%;
  background: transparent;
  border: 0;
  > thead {
    border-bottom: 2px solid $border;
  }

  .cup-group-match {
    > td:nth-child(1) {
      border-left: 0;
      width: 2rem;
    }
    > td:nth-child(3) {
      border-right: 0;
    }

    &:last-child > td {
      border-bottom: 0;
    }
    height: 0px;
  }

  .cup-groups-title {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center !important;
  }

  .cup-group-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cup-group-match-win {
    background: $win-bg;
  }

  .cup-group-match {
  }
}

.elim-bracket {
  overflow-x: auto;
  @include fullhd {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.elim-bracket-svg {
  flex-shrink: 0;
  flex-grow: 0;
  shape-rendering: geometricPrecision;
}

rect.elim-match,
rect.elim-match-outer {
  rx: 4px;
  ry: 4px;
}

.elim-match-g {
  rx: 4px;
  ry: 4px;
  &[data-active] {
    filter: url(#shadow);
  }
}

.elim-match-outline {
  transition: ease 0.1s stroke;
  rx: 4px;
  ry: 4px;
  stroke-width: 1;
  stroke: $border;
  fill: none;
  .elim-match-g[data-active] > & {
    stroke: $dark;
  }
}

.elim-matches,
.elim-match-paths {
  stroke-linejoin: round;
  stroke-opacity: 1;
}

.elim-matches {
  stroke: white;
  filter: url(#shadow);
  fill: $light;
  stroke-width: 4;
  z-index: 1;
}

.elim-match-paths,
.elim-drop-paths {
  fill: none;
  z-index: 0;
  stroke-width: 1;
}

.elim-match-paths {
  stroke: #000;
  stroke-width: 1;
}

.elim-drop-paths {
  stroke: $border;
  stroke-dasharray: 4 4;
}

.elim-match-content {
  stroke: none;
  fill: black;
}

.elim-signup {
  fill: $link;
  dominant-baseline: middle;
  text-anchor: start;
  &:hover {
    fill: $link-hover;
  }
}

text.elim-score {
  font: 0.95em $family-monospace;
  dominant-baseline: middle;
  text-anchor: middle;
}

.winner-bg {
  &[data-winner="h"] {
  }
  &[data-winner="l"] {
  }
  fill: $win-bg;
}

.elim-match-id {
  font: 0.75em $family-monospace;
  z-index: 40;
  stroke: none;
  fill: $code;
  color: $code;
}

.elim-round-labels {
  fill: $body-color;
  font: 0.75em $family-monospace;
  z-index: 40;
  dominant-baseline: hanging;
  text-anchor: middle;
}

.elim-round-rect {
  fill: none;
  stroke: $border;
  stroke-width: 1;
  stroke-dasharray: 3 3;
  stroke-opacity: 0.25;
}

.card-header-title > .cup-signup {
  margin: 0;
}
